<div class="bg-white flex items-center flex-col p-20">
    <div class=" flex items-center justify-between w-1/4">
        <div class=" w-16 h-1 bg-indigo-600"></div>
        <h1 class=" text-4xl font-bold">ABOUT US</h1>
        <div class=" w-16 h-1 bg-indigo-600"></div>
    </div>
    
    <div class=" flex items-baseline text-lg p-14 justify-center ">
        <div class=" w-2/4">
            <p class=" mb-4">We are Akeshya, a firm that specializes in web design and marketing. We help transform ideas into reality with a team of passionate graphic designers, web developers, and seasoned marketing advisors.</p>
            <ul>
                <li class=" flex items-center gap-2 mb-4">
                    <span class="material-symbols-outlined text-indigo-600">
                        done_all
                        </span>
                    <p>We started with a simple idea: do what is best for the client.</p>
                </li>
                <li class=" flex items-center gap-2 mb-4">
                    <span class="material-symbols-outlined text-indigo-600">
                        done_all
                        </span>
                    <p>Our methodical and individual approach to each project delivers the finest possible results for your media.</p>
                </li>
                <li class=" flex items-center gap-2 mb-4">
                    <span class="material-symbols-outlined text-indigo-600">
                        done_all
                        </span>
                    <p>Our day-to-day work is to solve your problems utilising the most up-to-date, practical adaptive technology, and we have a lot of fun doing it.</p>
                </li>
            </ul>
        </div>
        <div class=" w-2/4 p-9">
            <p class=" mb-8">We're professional, but we're also friendly, and we'll always pay attention to your concerns. We expect to work with innovative people that have an open mind and are dedicated to making every idea a reality. We want to hear from you if you're interested in SEO, have Web Development ideas, or require a graphic designer who can match your goals.</p>
            <a href="" class=" text-indigo-800 text-lg font-bold border-2 border-indigo-600 rounded-3xl py-3 px-8 hover:bg-indigo-600 hover:text-white">Learn More</a>
        </div>
    </div>
    <div>
        <div>
            <div >
                <img src="https://akeshya.com/assets/img/counts-img.svg" alt="">
            </div>
            <div>
                <div>
                    <span class="material-symbols-outlined">
                        sentiment_satisfied
                        </span>
                        <span>3808364</span>
                        <p>Organic Reach</p>
                </div>
                <div>
                    <span class="material-symbols-outlined">
                        overview
                        </span>
                        <span>85</span>
                        <p>Campaigns</p>
                </div>
                <div>
                    <span class="material-symbols-outlined">
                        schedule
                        </span>
                        <span>14081</span>
                        <p>Watch Hours</p>
                </div>
                <div>
                    <span class="material-symbols-outlined">
                        captive_portal
                        </span>
                        <span>17</span>
                        <p>Excellent CTR %</p>
                </div>
            </div>
        </div>
    </div>
</div>