<div class=' fixed top-0 right-0 w-screen z-10 flex items-center justify-between p-4 font-sans text-xl font-bold px-36 bg-white'>

    <div class='flex items-center justify-around'>
      <div>
          <img class=' max-w-20' src="https://akeshya.com/assets/img/logo.png" alt="" />
      </div>
      <h1 class=" text-4xl font-semibold text-indigo-900">AKESHYA</h1>
    </div>

    <div>
      <ul class='flex items-center justify-around'>
        <a href="#home">
          <li class=' hover:text-indigo-300 px-4 py-3 rounded-md text-lg font-medium'>Home</li>
        </a>
        <a href="./#about">
          <li class='hover:text-indigo-300 px-4 py-3 rounded-md text-lg font-medium'>About</li>
        </a>
        <a href="#project">
          <li class=' hover:text-indigo-300 px-4 py-3 rounded-md text-lg font-medium'>Services</li>
        </a>
          <a href="#contact">
          <li class=' hover:bg-indigo-300 px-6 py-2 text-lg font-medium bg-indigo-900 rounded-3xl text-white'>Contact us</li>
          </a>
      </ul>
    </div>

  </div>