  <div class="bg-white flex items-center flex-col p-20">
    <div class=" flex items-center justify-between w-1/4 ">
        <div class=" w-16 h-1 bg-indigo-600"></div>
        <h1 class=" text-4xl font-bold">OUR PROCESS</h1>
        <div class=" w-16 h-1 bg-indigo-600"></div>
    </div>
    <p class=" my-10 text-lg font-semibold text-gray-700"> Over the years we’ve evolved a tested method for attaining achievement for each one of our clients.</p>
    
    <div class=" gap-10 w-11/12 flex flex-wrap items-center justify-between">
        <div style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px" class=" p-8 text-center w-5/12  bg-slate-100">
            <h1>1. Planning</h1>
            <p>We help you turn all of your ideas into a digital product that meets all of your requirements. We begin each project by determining its scope and needs. This is done by collaborating closely with you to ensure that we're all on the same page.</p>
       </div>

       <div style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px" class=" p-8 text-center w-5/12 bg-slate-100">
        <h1>1. Planning</h1>
        <p>We help you turn all of your ideas into a digital product that meets all of your requirements. We begin each project by determining its scope and needs. This is done by collaborating closely with you to ensure that we're all on the same page.</p>
   </div>

   <div style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px" class=" p-8 text-center w-5/12 bg-slate-100">
    <h1>1. Planning</h1>
    <p>We help you turn all of your ideas into a digital product that meets all of your requirements. We begin each project by determining its scope and needs. This is done by collaborating closely with you to ensure that we're all on the same page.</p>
</div>

<div style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px" class=" p-8 text-center w-5/12  bg-slate-100">
    <h1>1. Planning</h1>
    <p>We help you turn all of your ideas into a digital product that meets all of your requirements. We begin each project by determining its scope and needs. This is done by collaborating closely with you to ensure that we're all on the same page.</p>
</div>
    </div>
    
</div>