
---
import box from "../components/serviseBox/box.astro"
---
<div  class="bg-white flex items-center flex-col p-20">
    <div class=" flex items-center justify-between w-1/4 ">
        <div class=" w-16 h-1 bg-indigo-600"></div>
        <h1 class=" text-4xl font-bold">SERVICES</h1>
        <div class=" w-16 h-1 bg-indigo-600"></div>
    </div>
    <p class=" my-10 text-lg font-semibold text-gray-700">Akeshya will serve as your consultant and development partner to help you turn your idea into a reality.</p>
    <div class=" w-11/12 gap-9 flex items-center justify-between">
        <div  class=" shabo w-1/4 h-auto p-8 rounded-md overflow-hidden">
            <div>
                <div class=" w-16 h-16 bg-indigo-700 rounded-full">
                    <span class="material-symbols-outlined text-white relative top-2 left-2 text-5xl">
                        sports_basketball
                        </span>
                </div>
                <h3 class=" my-4 text-lg font-bold">Design</h3>
                <p class=" text-base font-semibold ">Our web design services can assist you in reclaiming your company's online image. Your business will flourish on the Internet thanks to the combination of style and technology we provide, as well as our experience.Our web design services can assist you in reclaiming your company's online image</p>
            </div>
        </div>

        <div  class=" shabo w-1/4 p-8 rounded-md overflow-hidden">
            <div>
                <div class=" w-16 h-16 bg-indigo-700 rounded-full">
                    <span class="material-symbols-outlined text-white relative top-2 left-2 text-5xl">
                        sports_basketball
                        </span>
                </div>
                <h3 class=" my-4 text-lg font-bold">Design</h3>
                <p class=" text-base font-semibold ">Our web design services can assist you in reclaiming your company's online image. Your business will flourish on the Internet thanks to the combination of style and technology we provide, as well as our experience.Our web design services can assist you in reclaiming your company's online image</p>
            </div>
        </div>

        <div  class=" shabo w-1/4 p-8 rounded-md overflow-hidden">
            <div>
                <div class=" w-16 h-16 bg-indigo-700 rounded-full">
                    <span class="material-symbols-outlined text-white relative top-2 left-2 text-5xl">
                        sports_basketball
                        </span>
                </div>
                <h3 class=" my-4 text-lg font-bold">Design</h3>
                <p class=" text-base font-semibold ">Our web design services can assist you in reclaiming your company's online image. Your business will flourish on the Internet thanks to the combination of style and technology we provide, as well as our experience.Our web design services can assist you in reclaiming your company's online image</p>
            </div>
        </div>

        <div  class=" shabo w-1/4  p-8 rounded-md overflow-hidden">
            <div>
                <div class=" w-16 h-16 bg-indigo-700 rounded-full">
                    <span class="material-symbols-outlined text-white relative top-2 left-2 text-5xl">
                        sports_basketball
                        </span>
                </div>
                <h3 class=" my-4 text-lg font-bold">Design</h3>
                <p class=" text-base font-semibold ">Our web design services can assist you in reclaiming your company's online image. Your business will flourish on the Internet thanks to the combination of style and technology we provide, as well as our experience.Our web design services can assist you in reclaiming your company's online image</p>
            </div>
        </div>
    </div>
    
</div>


<style>
    .shabo{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
</style>